<section>
  <div>
    <div *ngFor="let question of questions$ | async">
      <app-dynamic-question
        [question]="question"
        [prefilledAnswer]="(prefilledAnswers$ | async)![question.id]"
        (update)="onUpdateAnswer($event)"
      ></app-dynamic-question>
    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button (click)="openAddQuestionModal()">
      Add new question
    </button>
    <button mat-button color="primary" (click)="navigateToReviewAnswers()">
      Review my answers
    </button>
  </div>
</section>
