<div>
  <h3>{{ question.question }}</h3>
  <mat-form-field *ngIf="question.type === 'paragraph'">
    <input
      matInput
      [formControl]="formControl"
      placeholder="Input your answer"
    />
  </mat-form-field>

  <div *ngIf="question.type === 'checkbox'" class="checkboxes">
    <mat-checkbox
      *ngFor="let checkbox of question!.answers"
      (change)="onHandleCheckbox($event)"
      [checked]="formControl.value.includes(checkbox)"
      [value]="checkbox"
      >{{ checkbox }}</mat-checkbox
    >
    <mat-checkbox
      *ngIf="question.isAllowedSpecifyAnswer"
      [checked]="isShownOtherInput$ | async"
      (change)="onHandleCheckbox($event, true)"
      >Other</mat-checkbox
    >
    <mat-form-field *ngIf="isShownOtherInput$ | async">
      <input matInput [formControl]="otherFormControl!" />
    </mat-form-field>
  </div>
</div>
